#nav1 {
    height: 50px;
    background-color: #4166f5;
    top: 0;
    width: 100%;
    position: relative;
    transform: translateY(0);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}

#nav-1-links {
    margin-top: 15px;
    background: transparent;
        border-radius: 50%;
}

.nav-1-contact {
    color: #f8f8ff;
    margin-top: 15px;
    font-size: 14px;
}

#nav2 {
    height: 90px;
    background-color: white;
    position: sticky;
    top: -0.05px;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)
}

#logo {
    margin-left: 35px;
}

#search {
    margin-top: 10px;
    height: 40px;
    width: 40%;
}

.scroll-overlay {
    position: fixed;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.overlay-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

#welcome_text {
    padding-top: 19%;
    padding-left: 33%;
}

#welcome_btn {
    margin-top: 25px;
    width: 200px;
    background-color: #7e481c;
    color: white;
}

#welcome_btn:hover {
    background-color: #5c2c06;
}

#portfolio_box {
    margin-top: 70px;
}

#pdt_img {
    /* border: solid; */
    height: 250px;
    width: 250px;
    transition: transform .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#pdt_img:hover {
    transform: scale(1.05);
}

#pdt_img_btn {
    position: relative;
    transform: translate(58px, -55px);
    /* transition: transform .3s; */
    width: 125px;
    opacity: 90%;
}

#pdt_img_btn:hover {
    background-color: rgb(230, 236, 198);
    transform: translate(58px, -55px) scale(1.05);
}

#section_titles {
    background-color: #e7f1fd;
    color: #106eea;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.1em;
    height: 35px;
    margin: auto;
}

#section_subtitles {
    font-weight: bold;
    margin-top: 10px;
}

#section_descriptions {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

#about_img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#team_stack {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@font-face {
    font-family: "brushsci";
    src: url("../src/Assets/Fonts/brushsci.ttf");
}

#staff_name {
    font-family: "brushsci";
    font-weight: bolder;
    font-size: 40px;
    color: blanchedalmond;
}

@font-face {
    font-family: "comicbd";
    src: url("../src/Assets/Fonts/comicbd.ttf");
}

#staff_title {
    font-family: "comicbd";
    font-size: 20px;
    color: whitesmoke;
}

@font-face {
    font-family: "scriptbl";
    src: url("../src/Assets/Fonts/scriptbl.ttf");
}

#staff_quote {
    font-family: "scriptbl";
    font-size: 30px;
    color: whitesmoke;
}

.indicator-symbol {
    background-color: transparent;
}

.indicator-symbol-avtive {
    border-radius: 100%;
    background-color: white;
}
#footer {
    background-color: rgba(0, 0, 0, 0.811);
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50%;
}

.fa {
    padding-top: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

#flex2 {
    padding-top: 5%;
    padding-left: 12%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    color: white;
    font-size: large;
    flex-grow: 1;
}

.footer-title {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

#copyright {
    color: white;
    text-align: center;
    padding-top: 1%;
}

.material-symbols-outlined {
    font-size: medium;

}

#flex-global {
    display: flex;
    flex-wrap: wrap;
}

.footer-logos {
    width: 230px;
    height: 60px;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
}